:root {
  /* Material Design Color Palette Variables */
  --grey-900: #212121;
  --grey-850: #323232;
  --grey-800: #424242;
  --grey-700: #616161;
  --grey-600: #757575;
  --grey-500: #9e9e9e;
  --white: #ffffff;
  --black: #000000;
  --teal: #1de9b6;
  --teal-A700: #00bfa5;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrollbar from animation */
}

@supports (height: 100dvh) {
  body {
    height: 100dvh;
  }
}

#game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

#board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5dvh;
  width: calc(2 * 12.5dvh + 0.5dvh);
  height: calc(100dvh - 1dvh);
  box-sizing: border-box;
}

@supports not (height: 100dvh) {
  #board {
    height: calc(100vh - 1vh);
    width: calc(2 * 12.5vh + 0.5vh);
    gap: 0.5vh;
  }
}

.square {
  width: 100%;
  height: 100%;
  background: var(--grey-900);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 10dvh;
  border-radius: 0px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 0 5dvh var(--grey-600);
  position: relative;
  animation: backgroundFlash 12s infinite ease-in-out;
}

@supports not (height: 100dvh) {
  .square {
    font-size: 10vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000, 0 0 5vh var(--grey-600);
  }
}

#finish-line {
  z-index: 5;
  position: absolute;
  height: 0.5dvh;
  top: 0;
  width: calc(2 * 12.5dvh + 0.5dvh);
  animation: pulse-teal-background 2s infinite alternate ease-in-out;
}

@supports not (height: 100dvh) {
  #finish-line {
    height: 0.5vh;
    width: calc(2 * 12.5vh + 0.5vh);
  }
}

@keyframes backgroundFlash {
  0% {
    background: var(--grey-900);
  }
  2.5% {
    background: var(--grey-850);
  }
  5% {
    background: var(--grey-900);
  }
  100% {
    background: var(--grey-900);
  }
}

/* Apply animation delays to each row from bottom to top */
#sq-7-0,
#sq-7-1 {
  animation-delay: 0s;
}

#sq-6-0,
#sq-6-1 {
  animation-delay: 0.125s;
}

#sq-5-0,
#sq-5-1 {
  animation-delay: 0.25s;
}

#sq-4-0,
#sq-4-1 {
  animation-delay: 0.375s;
}

#sq-3-0,
#sq-3-1 {
  animation-delay: 0.5s;
}

#sq-2-0,
#sq-2-1 {
  animation-delay: 0.625s;
}

#sq-1-0,
#sq-1-1 {
  animation-delay: 0.75s;
}

#sq-0-0,
#sq-0-1 {
  animation-delay: 0.875s;
}

@keyframes pulse-teal-background {
  0% {
    background-color: var(--teal);
    box-shadow: 0 5px 10px 0 var(--teal);
  }
  100% {
    background-color: var(--teal-A700);
    box-shadow: 0 5px 10px 0 var(--teal-A700);
  }
}

.square.king {
  color: var(--teal) !important;
}

.square.highlight {
  background: var(--grey-850);
}

.square.unmovable {
  background: var(--grey-900);
}

#toggle-highlights {
  padding: 1.5dvh 3vw;
  font-size: 2dvh;
  cursor: pointer;
  background: var(--teal);
  border: none;
  border-radius: 5px;
  color: var(--black);
  transition: background 0.2s ease;
}

@supports not (height: 100dvh) {
  #toggle-highlights {
    padding: 1.5vh 3vw;
    font-size: 2vh;
  }
}

#toggle-highlights:hover {
  background: var(--teal);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@supports not (height: 100dvh) {
  #overlay {
    height: 100vh;
  }
}

#overlay-content {
  background: var(--grey-900);
  padding: 5dvh 8vw;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
  font-size: 4dvh;
}

@supports not (height: 100dvh) {
  #overlay-content {
    padding: 5vh 8vw;
    font-size: 4vh;
  }
}

#overlay button {
  margin: 2dvh 1vw 0 1vw;
  padding: 1.5dvh 3vw;
  font-size: 2dvh;
  cursor: pointer;
  background: var(--teal);
  border: none;
  border-radius: 5px;
  color: var(--black);
  transition: background 0.2s ease;
}

@supports not (height: 100dvh) {
  #overlay button {
    margin: 2vh 1vw 0 1vw;
    padding: 1.5vh 3vw;
    font-size: 2vh;
  }
}

#overlay button:hover {
  background: var(--teal);
}

#overlay.hidden {
  display: none !important;
}
